---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION, CATEGORY_MAP } from '@/consts';

type Props = {
  category: keyof typeof CATEGORY_MAP;
  page: Page<CollectionEntry<'posts'>>;
};

const { category, page } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead
      title={`${category} | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li :global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            page.data.map(({ data, slug }) => (
              <li>
                <FormattedDate date={data.pubDate} />
                <a href={`/posts/${slug}`}>{data.title}</a>
                <span>{data.category}</span>
              </li>
            ))
          }
        </ul>
        <div>
          {page.url.prev && <button>前ページに戻る</button>}
          {page.url.next && <button>次ページに進む</button>}
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
