---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL =
  Astro.url.pathname === '/'
    ? Astro.site?.origin
    : new URL(Astro.url.pathname.replace('.html', ''), Astro.site);

const { title, description = SITE_DESCRIPTION } = Astro.props;
const titleWithSiteTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const simpleTitle = title ? title : SITE_TITLE;

const ogpImage = new URL('/ogp.png', Astro.site?.origin!);

const GOOGLE_SITE_VERIFICATION = import.meta.env.GOOGLE_SITE_VERIFICATION;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{titleWithSiteTitle}</title>
<meta name="title" content={titleWithSiteTitle} />
<meta name="description" content={description} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={simpleTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogpImage} />

<!-- X -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={simpleTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogpImage} />

<!-- Google Search Console -->
<meta name="google-site-verification" content={GOOGLE_SITE_VERIFICATION} />
