---
// 出典：https://github.com/hiroppy/site/blob/main/src/components/OG.astro
// がベース
import { load } from 'cheerio';
import { writeFileSync, readFileSync } from 'node:fs';

type Props = {
  url: string;
};

type OGPJson = Record<
  string,
  {
    title: string;
    description: string;
    image: string;
    favicon: string;
  }
>;

const { url } = Astro.props;
const generatedFilePath = new URL(
  '../../generated/ogp.json',
  // astro は build 時に自身ではなく dist/entry.mjs に向けてしまいエラーになるので指定する
  import.meta.url
);

const ogp: OGPJson = JSON.parse(readFileSync(generatedFilePath, 'utf8'));
let title: string = '';
let description: string = '';
let image: string = '';
let favicon: string = '';
const origin = new URL(url).origin;

if (ogp[url]) {
  title = ogp[url].title;
  description = ogp[url].description;
  image = ogp[url].image;
  favicon = ogp[url].favicon;
} else {
  const html = await fetch(url).then((res) => res.text());
  const $ = load(html);

  title = $("meta[property='og:title']").attr('content') ?? $('title').text();
  description =
    $("meta[property='og:description']").attr('content') ??
    $("meta[name='description']").attr('content') ??
    '';
  image = $("meta[property='og:image']").attr('content') ?? '';
  favicon =
    $("link[rel='icon']").attr('href') ??
    $("link[rel='apple-touch-icon']").attr('href') ??
    $("link[rel='apple-touch-icon-precomposed']").attr('href') ??
    $("link[rel='shortcut icon']").attr('href') ??
    `http://www.google.com/s2/favicons?domain=${origin}`;

  if (image && !image.startsWith('http')) {
    image = `${origin}${image}`;
  }
  if (favicon && !favicon.startsWith('http')) {
    favicon = `${origin}${favicon}`;
  }

  if (import.meta.env.PROD) {
    const ogp = JSON.parse(readFileSync(generatedFilePath, 'utf8'));

    writeFileSync(
      generatedFilePath,
      JSON.stringify(
        {
          ...ogp,
          [url]: {
            title,
            description,
            image,
            favicon,
          },
        },
        null,
        2
      )
    );
  }
}
---

<div class="link-card my-5 border rounded-4 hover:bg-slate-100">
  <a
    href={url}
    target="_blank"
    class="max-h-[120px] flex p-4 text-initial sm:max-h-[140px]"
  >
    <div class="w-full flex items-center justify-between space-x-4">
      <div class="flex flex-1 flex-col">
        <h2 class="line-clamp-1 overflow-hidden text-sm sm:line-clamp-2">
          {title}
        </h2>
        {
          description && (
            <p class="line-clamp-1 mt-1 text-xs sm:line-clamp-2">
              {description}
            </p>
          )
        }
        <div class="mt-2 flex items-center">
          <img src={favicon} alt={`${origin} favicon`} width={16} height={16} />
          <small class="ml-1 whitespace-nowrap text-xs">{origin}</small>
        </div>
      </div>
      {
        image && (
          <div class="h-full max-w-[220px] w-[120px] sm:w-inherit">
            <img src={image} class="ml-auto mr-auto h-full object-contain" />
          </div>
        )
      }
    </div>
  </a>
</div>
