---
import { MarkdownHeading } from 'astro';
import '@unocss/reset/tailwind.css';
import 'wicg-inert';
import BaseHead from '@/components/BaseHead.astro';
import GA from '@/components/GA.astro';
import GAd from '@/components/GAd.astro';
import Header from '@/components/Header.astro';
import SideBar from '@/components/SideBar.astro';
import Footer from '@/components/Footer.astro';
import Menu from '@/components/Menu.astro';
import NavLinkList from '@/components/NavLinkList.astro';
import AnchorLinkList from '@/components/AnchorLinkList.astro';
import '@/styles/global.scss';

type Props = {
  title?: string;
  description?: string;
  noTopHeading?: boolean;
  markdownHeadings?: MarkdownHeading[];
};

const { title, description, noTopHeading, markdownHeadings = [] } = Astro.props;
const isMarkdownPage = markdownHeadings?.length !== 0;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="break-words bg-slate-100 text-left font-sawarabi leading-6 text-slate-800"
  >
    <div id="base-contents">
      <Header noTopHeading={noTopHeading} isMarkdownPage={isMarkdownPage} />
      <main class="min-h-[93.5vh]">
        <div class="my-8">
          <div class="mx-auto flex px-2 container sm:px-4">
            <div class="hidden place-self-auto lg:block">
              <SideBar markdownHeadings={markdownHeadings} />
            </div>
            <div
              class="max-w-full flex-grow-1 overflow-hidden rounded-2 bg-white px-4 py-6 lg:ml-6 sm:px-6"
            >
              <slot />
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
    <Menu type="nav">
      <NavLinkList />
    </Menu>
    <Menu type="anchor">
      <AnchorLinkList markdownHeadings={markdownHeadings} />
    </Menu>
    <script>
      import '@/scripts/menu';
    </script>
    {import.meta.env.PROD && <GA />}
    {import.meta.env.PROD && <GAd />}
  </body>
</html>
