---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { extractPostSlug } from '@/utils/extractPostSlug';
import { PAGE_SIZE } from '@/consts';
import PostCard from '@/features/post/PostCard.astro';

const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, PAGE_SIZE)
  .map((post) => {
    return { ...post, slug: extractPostSlug(post.slug) };
  });
---

<BaseLayout>
  <div>
    {
      posts.map((post) => (
        <PostCard
          pubDate={post.data.pubDate}
          updatedDate={post.data.updatedDate}
          slug={post.slug}
          title={post.data.title}
          category={post.data.category}
          tags={post.data.tags}
        />
      ))
    }
    <div class="mt-4 text-right">
      <a href="/posts/2" class="inline-flex items-center px-2 py-1"
        >次ページへ<span class="i-system-uicons:arrow-right-circle ml-0.5"
        ></span></a
      >
    </div>
  </div>
</BaseLayout>
