---
import FormattedDate from '@/components/FormattedDate.astro';
import { CATEGORY_MAP } from '@/consts';

type Props = {
  pubDate: Date;
  updatedDate?: Date;
  slug: string;
  title: string;
  category: keyof typeof CATEGORY_MAP;
  tags: string[];
};

const { pubDate, updatedDate, slug, title, category, tags } = Astro.props;
---

<article class="border-b py-4">
  <p class="text-sm">
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <span class="inline-flex items-center">
          (<span class="i-system-uicons:refresh mr-1">更新日</span>
          <FormattedDate date={updatedDate} />)
        </span>
      )
    }
  </p>
  <h2 class="text-2xl font-600">
    <a
      href={`/posts/${slug}`}
      class="block underline-offset-2 decoration-solid hover:underline"
    >
      {title}
    </a>
  </h2>
  <p class="mt-2 flex items-center">
    <span class="i-system-uicons:document mr-0.5 text-lg"> カテゴリー</span>
    {`${CATEGORY_MAP[category]}`}
  </p>
  <p class="flex items-center">
    <span class="i-system-uicons:tag mr-0.5 text-lg">タグ一覧</span>
    {tags.join(', ')}
  </p>
</article>
