---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import PostCard from '@/features/post/PostCard.astro';
import Paging from '@/components/Paging.astro';

type Props = {
  headTitle?: string;
  headDescription?: string;
  pageTitle: string;
  rss?: string;
  postList: CollectionEntry<'posts'>[];
  previousUrl?: string;
  nextUrl?: string;
};

const {
  headTitle,
  headDescription,
  pageTitle,
  rss,
  postList,
  previousUrl,
  nextUrl,
} = Astro.props;
---

<BaseLayout title={headTitle} description={headDescription} isAdsense={true}>
  <p class="text-xl font-600">
    {pageTitle}
  </p>
  {
    rss && (
      <div class="mt-1">
        <a href={rss}>
          <span class="i-teenyicons:rss-outline text-xs">RSS</span>
        </a>
      </div>
    )
  }
  <div class="mt-4">
    {
      postList.map((post) => (
        <PostCard
          pubDate={post.data.pubDate}
          updatedDate={post.data.updatedDate}
          id={post.id}
          title={post.data.title}
          category={post.data.category}
          tags={post.data.tags}
        />
      ))
    }
  </div>
  <div class="mt-4">
    <Paging previousUrl={previousUrl} nextUrl={nextUrl} />
  </div>
</BaseLayout>
