---
import FormattedDate from '@/components/FormattedDate.astro';
import { CATEGORY_MAP } from '@/consts';

type Props = {
  pubDate: Date;
  updatedDate?: Date;
  id: string;
  title: string;
  category: keyof typeof CATEGORY_MAP;
  tags: string[];
};

const { pubDate, updatedDate, id, title, category, tags } = Astro.props;
---

<article class="border-b py-4">
  <p class="text-sm">
    <FormattedDate date={pubDate} />
    {
      updatedDate && pubDate.toString() !== updatedDate.toString() && (
        <span class="inline-flex items-center">
          (<span title="更新日" class="i-system-uicons:refresh mr-1" />
          <FormattedDate date={updatedDate} />)
        </span>
      )
    }
  </p>
  <h2 class="text-2xl font-600">
    <a
      href={`/posts/${id}`}
      class="block underline-offset-2 decoration-solid hover:underline"
    >
      {title}
    </a>
  </h2>
  <p class="mt-2 flex items-center">
    <span title="カテゴリー" class="i-system-uicons:document mr-0.5 text-lg"
    ></span>
    {`${CATEGORY_MAP[category]}`}
  </p>
  <p class="flex items-center">
    <span title="タグ一覧" class="i-system-uicons:tags mr-0.5 text-lg"></span>
    {tags.join(', ')}
  </p>
</article>
